services: 
  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped